* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#clouds {
  animation: clouds 1s ease-in-out infinite alternate;
  transform-origin: center;
}

#bridge {
  animation: bridge 1s ease-in-out infinite alternate;
  transform-origin: center;
}

#waves1, #waves2 {
  animation: bridge 1s ease infinite alternate;
  transform-origin: center;
}

@keyframes clouds {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(15deg);
  }
}

@keyframes bridge {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(15deg);
  }
}

@keyframes waves1, waves2 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-15deg);
  }
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 12px;
  margin: 20px 8px;
}

.navbar_logo {
  font-size: 24px;
}

.navbar_logo i {
  color: black;
}

.navbar_logo a {
  color: black;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li a {
  color: black;
}

.navbar_menu li:hover {
  background-color: palegoldenrod;
  border-radius: 4px;
}

.navbar_toggleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: black;
  display: none;
}

/* Banner */
.index_banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.banner_content {
  display: table-cell;
  vertical-align: middle;
}

.index_banner h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 2px #111;
}

.index_banner h2 {
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

/* CASE 1 */
.index_case1 {
  display: flex;
  position: relative;
}

.index_case1 .case_img1 {
  max-width: 500px;
  max-height: 372px;
  flex-basis: 50%;
  margin: 20px 20px;
}

.index_case1 .case_img1 img {
  width: 100%;
}

.index_case1 .case_text1 {
  width: 874px;
  height: 372px;
}

.index_case1 .case_text1 h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.index_case1 .case_text1 p {
  margin-right: 20px;
  line-height: 32px;
  transition: all 0.5s;
}

.index_case1 .case_text1 p:hover {
  background-color: lightblue;
  height: 50%;
}

.index_case1 .case_text1 .btnContainer {
  display: none;
  flex-direction: column;
  width: 300px;
  margin-top: 211px;
}

.index_case1 .case_text1 .btnContainer .btn {
  border: 1px solid #ffeb3b;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

/* CASE 2 */
.index_case2 {
  display: flex;
  position: relative;
}

.index_case2 .case_img2 {
  max-width: 500px;
  max-height: 372px;
  flex-basis: 50%;
  margin: 20px 20px;
}

.index_case2 .case_img2 img {
  width: 100%;
}

.index_case2 .case_text2 {
  width: 874px;
  height: 372px;
}

.index_case2 .case_text2 h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.index_case2 .case_text2 p {
  margin-right: 20px;
  line-height: 32px;
  transition: all 0.5s;
}

.index_case2 .case_text2 p:hover {
  background-color: lightblue;
  height: 50%;
}

.index_case2 .case_text2 .btnContainer {
  display: none;
  flex-direction: column;
  width: 300px;
  margin-top: 211px;
}

.index_case2 .case_text2 .btnContainer .btn {
  border: 1px solid #ffeb3b;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

/* CASE 3 */
.index_case3 {
  display: flex;
  position: relative;
}

.index_case3 .case_img3 {
  max-width: 500px;
  max-height: 372px;
  flex-basis: 50%;
  margin: 20px 20px;
}

.index_case3 .case_img3 img {
  width: 100%;
}

.index_case3 .case_text3 {
  width: 874px;
  height: 372px;
}

.index_case3 .case_text3 h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.index_case3 .case_text3 p {
  margin-right: 20px;
  line-height: 32px;
  transition: all 0.5s;
}

.index_case3 .case_text3 p:hover {
  background-color: lightblue;
  height: 50%;
}

.index_case3 .case_text3 .btnContainer {
  display: none;
  flex-direction: column;
  width: 300px;
  margin-top: 211px;
}

.index_case3 .case_text3 .btnContainer .btn {
  border: 1px solid #ffeb3b;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

/* Video */
.videoWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
/* Footer */
footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  margin-top: 20px;
  background-color: #111;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-size: 24px;
  color: #fff;
  line-height: 40px;
}

.footer-links-cases {
  display: none;
}

.footer-sm {
  width: 50px;
  float: right;
}

.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active {
    display: flex;
  }

  .index_banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
  }

  .banner_content {
    display: table-cell;
    vertical-align: middle;
  }

  .index_banner h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #111;
  }

  .index_banner h2 {
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
  }

  /*CASE 1*/
  .index_case1 {
    display: block;
    position: relative;
  }

  .index_case1 .case_img1 {
    margin-left: auto;
    margin-right: auto;
  }

  .index_case1 .case_img1 img {
    width: 100%;
  }

  .index_case1 .case_text1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
  }

  .index_case1 .case_text1 h1 {
    text-align: center;
  }

  .index_case1 .case_text1 p {
    text-align: left;
    margin-right: 0;
    padding: 0 12px 0 12px;
  }

  /*Case 2*/
  .index_case2 {
    display: block;
    position: relative;
  }

  .index_case2 .case_img2 {
    margin-left: auto;
    margin-right: auto;
  }

  .index_case2 .case_img2 img {
    width: 100%;
  }

  .index_case2 .case_text2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
  }

  .index_case2 .case_text2 h1 {
    text-align: center;
  }

  .index_case2 .case_text2 p {
    text-align: left;
    margin-right: 0;
    padding: 0 12px 0 12px;
  }

  /*Case 3*/
  .index_case3 {
    display: block;
    position: relative;
  }

  .index_case3 .case_img3 {
    margin-left: auto;
    margin-right: auto;
  }

  .index_case3 .case_img3 img {
    width: 100%;
  }

  .index_case3 .case_text3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
  }

  .index_case3 .case_text3 h1 {
    text-align: center;
  }

  .index_case3 .case_text3 p {
    text-align: left;
    margin-right: 0;
    padding: 0 12px 0 12px;
  }

  footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
  }

  footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
  }

  footer ul li {
    display: block;
    list-style: none;
  }

  footer ul li a {
    font-size: 24px;
    color: #fff;
    line-height: 40px;
  }

  .footer-links-cases {
    display: none;
  }

  .footer-sm {
    width: 50px;
    float: right;
  }

  .footer-sm img {
    width: 100%;
    margin-bottom: 10px;
  }
}
