* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#clouds {
  animation: clouds 1s ease-in-out infinite alternate;
  transform-origin: center;
}

#bridge {
  animation: bridge 1s ease-in-out infinite alternate;
  transform-origin: center;
}

#waves1, #waves2 {
  animation: bridge 1s ease infinite alternate;
  transform-origin: center;
}

@keyframes clouds {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(15deg);
  }
}

@keyframes bridge {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(15deg);
  }
}

@keyframes waves1, waves2 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-15deg);
  }
}
